body{
    margin: 0;
}
.header{
    display:flex;
    gap:15px;
    background-color: #1F2937;
    padding: 12px;
}

.header-logo{
    margin-right:auto;
    color: #F9FAF8;
    font-size:24px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color:#F9FAF8;
    font-size: 18px;
}